html, body {
/* display the body as flexbox */
    display: flex;
    font-family: sans-serif;
}

.page_body {
    width: 100vw;
    display: flex;
}

.nav {
    padding: 1em;
}

.content {
    margin: 1em;
    width: 100vw;
    justify-content: space-between;
    padding: 1em;
}

.navbar {
    height: 10vh
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.body_contents {
    height: 100vh;
    background-color: #333333;
    padding-left: 1em;
}