<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="page_body">
        <aside class="sidebar">
            <h2 class="logo_side">logoipsum</h2>
            <ul class="nav">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="/">Portal</a></li>
                <li class="nav_item"><a href="/">Feed</a></li>
            </ul>
        </aside>
        <div class="content">
            <div class="navbar">
                <ul>
                    <a href="/">
                        Profile
                    </a>
                </ul>
            </div>
            <div class="body_contents">
                {% block body %} 
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>